/* Here is your custom css styles. */

#headNav {
	background-color: #000 !important;
	background-image: none !important;
}

footer.page-footer {
	background-color: #000 !important;
	background-image: none !important;
}

body.DarkMode #headNav {
	background-color: #000 !important;
	background-image: none !important;
}

body.DarkMode footer.page-footer {
	background-color: #000 !important;
	background-image: none !important;
}

body:not(.DarkMode) {
	background-color: #000 !important;
	background-image: url('/medias/background/mirai-tech-1024.svg') !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-attachment: fixed !important;
	background-position: center top !important;
}

main.content {
	background: transparent !important;
}

.index-card .card,
#articles article .card {
	background-color: rgba(92, 92, 104, 0.8) !important;
}

#articles article .card .card-action {
	background-color: rgba(92, 92, 104, 0.8) !important;
}

.index-cover .carousel-item:first-child .brand {
	margin-top: 64px;
}

.index-card .card .card-content,
#articles article .card .card-content,
#articles article .card .card-action,
#articles article .card .card-title,
#articles article .article-content .summary,
#articles article .publish-info,
#articles article a {
	color: #fff !important;
}

body.DarkMode,
body.DarkMode p,
body.DarkMode li,
body.DarkMode td,
body.DarkMode span,
body.DarkMode a,
body.DarkMode h1,
body.DarkMode h2,
body.DarkMode h3,
body.DarkMode h4,
body.DarkMode h5,
body.DarkMode h6,
body.DarkMode .copy-right,
body.DarkMode .publish-info .post-category,
body.DarkMode .publish-info .publish-date,
body.DarkMode .nav-menu li a,
body.DarkMode .menu-list a,
body.DarkMode .card .card-content p,
body.DarkMode .card .card-image .card-title,
body.DarkMode article .article-content .summary,
body.DarkMode footer a,
body.DarkMode .fas,
body.DarkMode .far,
body.DarkMode .fab {
	color: #fff !important;
}
